<suite name="simpleTestCases">

    <listeners>
        <listener class-name="ge.vintages8000.utils.TestListener"/>
    </listeners>


    <test name="login test">
        <classes>

            <class name="ge.vintages8000.login.LoginTest"/>

        </classes>


    </test>



    <test name="product test">
        <classes>

            <class name="ge.vintages8000.product.ProductTest"/>

        </classes>


   </test>
    <test name="cart test">
        <classes>

            <class name="ge.vintages8000.cart.CartTest"/>

        </classes>


    </test>


</suite>